body{
    font-family: cursive;
    background-color: greenyellow;
    
}
.nav{
    position: static;
    background-color: yellow;
    background-size: auto;

}
.nav a{
    color:navy;
    text-decoration: none;
    font-size: 35px;
    font-family: monospace;
    padding: 50px;
}
.nav .container{
    display:flex ;
    justify-content:center ;
    align-items:center ;
    padding: 20px;
}
.nav a:hover{
    background-color: aliceblue;
    background-size:100px;
    color: greenyellow;
}
.nav ul{
    list-style-type:none ;
    display:flex ;
    align-items:center ;
    justify-content: center;

}
.sample{
    background-image: url(am.jpg);
    background-size: cover;
    height: 100vh;
    margin-bottom: 20px;
    display:flex;
    justify-content:center ;
    align-items:center ;
    text-align: center;
}
.sample h2{
    font-family: cursive;
    font-size: 45px;
    text-shadow: 4px 5px 6px goldenrod;
    text-align: center;
}
.sample p{
    font-family: monospace;
    font-size: 35px ;
    text-shadow:4px 4px 6px gold;
    letter-spacing: 2px;
}
.content h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}
.content p{
    margin: 20px;
    font-family: serif;
    font-size: 30px;
    color: blue;
}